@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  position: relative;
}

body,
#root {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

/* --------------- global scrollbar style---------------------------- */

::-webkit-scrollbar-track {
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #cfcfcf96;
  border-radius: 10px;
}

::-webkit-scrollbar-corner {
  background-color: #fff !important;
}

::-webkit-scrollbar-thumb:hover {
  background: #727f8d;
}

::-webkit-scrollbar {
  width: 7px;
  height: 6px !important;
}
